{% extends "layout.html" %}

{% block title%}Sample Website Page Title {% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Sample Header</h1>
        {% if session["name"] %}
        Hello, {{ session["name"] }}!
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-4">
            This is a small column to the left.
        </div>
        <div class="col-sm-8">
            This is a larger small column on the right.
        </div>
    </div>
</div>
{% endblock %}