{% extends "layout.html" %}

{% block title%}Sample Website Page Title {% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Vote for your favorite pet!</h1>
    </div>
    <div class="column">
        {{ message }}<br>
        {% if alreadyVoted == 0 %}
        Dog votes: {{ dogVotes }}<br>
        Cat votes: {{ catVotes }}<br/>
        Fish votes: {{ fishVotes }}
        {% endif %}
        <br/>
        <form method="POST">
            {{ voteForm.hidden_tag() }}
            {{ voteForm.userName.label }}: {{ voteForm.userName() }}<br/>
            {{ voteForm.userVote.label }}: {{ voteForm.userVote() }}
            {{ voteForm.submit() }}
        </form>
        <hr>

    </div>
</div>
{% endblock %}