{% extends "layout.html" %}

{% block title%}Sample Website Page Title {% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Do you like dogs, cats, or fish better? Vote below!!</h1>
    </div>
    <div class="column">
        <b>{{ message }}</b><br/>
        {% if alreadyInDatabase == 1 or alreadyInDatabase == 0 %}
        <br/><b>Voting results:</b><br/>
        {{ catVotes }} people have voted for cats!<br/>
        {{ dogVotes }} people have voted for dogs!<br/>
        {{ fishVotes }} people have voted for fish!<br/>
        {{ birdVotes }} people have voted for birds!<br/>
        {{ turtleVotes }} people have voted for turtles!<br/>
        {{ goatVotes }} people have voted for goats!<br/>
        {% endif %}
        <br/>
        {% if session["alreadyVoted"] == "no" %}
        <form method="POST">
            {{ voteForm.hidden_tag() }}
            {{ voteForm.userName.label }}: {{ voteForm.userName() }}<br/><br/>
            {{ voteForm.userVote.label }}: {{ voteForm.userVote() }}
            {{ voteForm.submit() }}
         {% endif %}
        </form>
        <hr>

    </div>
</div>
{% endblock %}